/*### NEW FILE STYLE ###*/

/*### FIX GLOBAL STYLE###*/
.advertising {
	display: none;
}

/*### VISUAL STYLE ###*/

#page-contents h1,h2,h3,h4, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-size: 14px;
}

#page-contents p {
	margin: 0;
}

/* Images */

#page-contents img {
	border: 0;
	vertical-align: bottom;
}

.mdl-img__visual {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto 24px;
}

.mdl-img__normal, .mdl-img__normal-m16 {
	margin-bottom: 32px;
	text-align: center;
}

.mdl-img__normal-m16, .mdl-img__normal-m16-m16 {
	margin-bottom: 16px;
}

.mdl-img__normal img, .mdl-img__normal-m16 img {
	max-width: 500px;
	width: 100%;
	height: auto;
}

.mdl-img__radius {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

/* ### */

/* Text */

.mdl-title__heading--lg {
	margin-bottom: 16px;
	padding-bottom: 2px;
	color: #6b993d;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.2;
	border-bottom: 3px solid #75b324;
}

.mdl-title__heading--sm, .mdl-title__heading--sm-f16 {
	margin-bottom: 8px;
	font-weight: bold;
}

.mdl-text__sm-m16 {
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 1.5;
}

.mdl-color__green {
	color: #6b993d !important;
}

.mdl-color__orange {
	color: #d98041 !important;
}

.mdl-color__notes {
	color: #a62137 !important;
}

.mdl-color__notes-m16 {
	color: #a62137 !important;
	margin-bottom: 16px;
}

.mdl-space--0 {
	margin-bottom: 0px !important;
}

.mdl-space--xs {
	margin-bottom: 8px !important;
}

.mdl-space--md {
	margin-bottom: 24px !important;
}

.mdl-space--lg {
	margin-bottom: 32px !important;
}

.mdl-space--48 {
	margin-bottom: 48px !important;
}

/* ### */

/* List */

#page-contents ul {
	list-style: none;
}

.mdl-list__basic {
	margin-bottom: 32px;
}

.mdl-list__basic li {
	padding: 0 0 0 28px;
	margin: 0 0 16px 0;
	line-height: 1.4;
	background: url(https://img.finalfantasyxiv.com/lds/h/H/4j9I1nezY-vraAi990Weu9Q1L4.svg) no-repeat 6px 1px;
	-moz-background-size: 16px 16px;
	-o-background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
}

.mdl-text__indent {
	margin: 0 0 16px 28px;
}

.mdl-list__cat-12, .mdl-list__cat-14 {
	margin-top: 6px;
	margin-bottom: 0;
	width: 100%;
	overflow: hidden;
	line-height: 1.4;
}

.mdl-list__basic li {
	padding: 0 0 0 28px;
	margin: 0 0 16px 0;
	line-height: 1.4;
	background: url(https://img.finalfantasyxiv.com/lds/h/H/4j9I1nezY-vraAi990Weu9Q1L4.svg) no-repeat 6px 1px;
	-moz-background-size: 16px 16px;
	-o-background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
}

.mdl-list__cat-12 li, .mdl-list__cat-14 li {
	margin-right: 10px;
	margin-bottom: 4px;
	padding-right: 0 !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	padding: 0 0 0 28px;
	background: url(https://img.finalfantasyxiv.com/lds/h/0/ET3CvAQSSu5TzibfCo3BI8baRc.svg) no-repeat 10px -1px;
	-moz-background-size: 16px 16px;
	-o-background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	font-size: 12px;
}

/* ### */

/* Table */

th {
	text-align: center;
}

.mdl-table-m16 {
	max-width: 560px;
	width: 100%;
	margin: 0 auto 16px;
}

.mdl-table__before, .mdl-table-m16__before {
	background: #737373 !important;
	color: #fff !important;
}

.mdl-table__layout, .mdl-table__before_after, .mdl-table-m16__layout, .mdl-table-m16__before_after {
	width: 100%;
}

.mdl-table__layout {
	width: 100%;
}

.mdl-table__layout--spacer, .mdl-table__before_after--spacer, .mdl-table-m16__layout--spacer, .mdl-table-m16__before_after--spacer {
	background: none !important;
	padding: 0 !important;
	min-width: 10px;
}

.mdl-table__layout th, .mdl-table__before_after th, .mdl-table-m16__layout th, .mdl-table-m16__before_after th {
	background: #75b324;
	padding: 3px 8px 2px 8px;
	font-weight: normal;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 4px;
}

.mdl-table__icon--arrow, .mdl-table-m16__icon--arrow {
	background: url(https://img.finalfantasyxiv.com/lds/h/T/8h6sCiTwyPXVkygv1Twn1zKlG4.svg) no-repeat center center;
	-moz-background-size: 16px 16px;
	-o-background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	min-width: 32px !important;
	width: 32px;
	display: table-cell;
	height: auto;
	border-collapse: collapse;
}

.mdl-table__icon--arrow, .mdl-table-m16__icon--arrow {
	background: url(https://img.finalfantasyxiv.com/lds/h/T/8h6sCiTwyPXVkygv1Twn1zKlG4.svg) no-repeat center center;
	-moz-background-size: 16px 16px;
	-o-background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	width: 32px;
	display: table-cell;
	height: auto;
	border-collapse: collapse;
	border-bottom: none !important;
}

.mdl-table__layout td, .mdl-table__before_after td, .mdl-table-m16__layout td, .mdl-table-m16__before_after td {
	padding: 8px 8px 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #b3b3b3;
	vertical-align: middle;
	text-align: center;
	border-collapse: collapse;
	font-size: 12px;
}

.mdl-table__layout td:nth-child(2), .mdl-table__before_after td:nth-child(2), .mdl-table-m16__layout td:nth-child(2), .mdl-table-m16__before_after td:nth-child(2) {
	padding: 0 !important;
}

/* ### */
